*{
	margin: 0;
	padding: 0;
	
}
body {background-color: #D0D0D0;}

.mark {
    height: 30px;
}

#imagem{
	position: relative;
	width: 33%;
	padding-left: 33%;
}
.comment {
    position: relative;
	width: 400px;
	padding-left: 33%;
}

.comentario{
    padding-left: 33%;
}

.post {
    position: relative;
	width: 400px;
	padding-left: 33%;
	width: 400px;
}

.piada{
    padding-left: 33%;
    width: 400px;
}

.avatar {
    position: relative;
    padding-left: 33%;
    width: 50px;
}

.links{
	list-style: none;
}

.links li{
	position: relative;
	display: inline-block;
}

.links li img{
	height: 400px;
	margin-left: 5px;
	margin-right: 5px;
}



nav{
	text-align: center;
	width: 100%;
}

.menu{
	list-style: none;
  background-color: #EEE;
  text-align: center;
  padding: 0;
  margin: 0;
}



.menu li{
    
	position: relative;
	display: inline-block;
	width: 19%;
}

.menu li a{
	color: #000;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
}

.menu li a:hover{
	background: #000;
	color: #fff;
}

nav ul li .active {
    border-bottom:3px #FFF solid;
    }

iframe.normal{
    margin-left: -100px; /* metade da largura */
    margin-top: -100px; /* metade da altura */
    position: absolute;
    top: 30%;
    left: 35%;
  }
  
iframe.baixo{
    margin-left: -100px; /* metade da largura */
    margin-top: -100px; /* metade da altura */
    position: absolute;
    top: 84%;
    left: 42%;
  }
  
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
	}
	
.texto{
	width: 100%;
}
	
.texto h1{
	font-size: 250%;
	text-align: center;
}

.texto h2{
	font-size: 200%;
	text-align: center;
}

.texto h3{
	font-size: 200%;
	text-align: center;
}

.texto p{
	width: 80%;
	padding-left: 10%;
	text-indent: 50px;
	text-align: justify;
}

#acesso{
    position: absolute;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 5px;
    padding-left: 76.5%;
}

#facesso{
    padding: 5px;
    border: 1px solid black;
}

.form{
	position: absolute;
	padding-top: 5%;
	padding-left: 45%;
}

footer {
height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 150;
}

