*{
	margin: 0;
	padding: 0;
	
}
body {background-color: #D0D0D0;}


#imagem{
	position: relative;
	width: 33%;
	padding-left: 33%;
}
    
nav{
	text-align: center;
	width: 100%;
}

.menu{
	font-family: arial, helvetica, sans-seriff;
	font-size: 12px;
	list-style: none;
	border: 1px solid black;
}

.menu li{
	position: relative;
	display: inline-block;
	width: 19%;
}

.menu li a{
	color: #000;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
}

.menu li a:hover{
	background: #000;
	color: #fff;
}